appdirs==1.4.3
contextlib2==0.5.5
Django==1.11
django-appconf==1.0.2
django-cacheops==3.1.3
django-compressor==2.1.1
django-debug-toolbar==1.7
django-imagekit==4.0
django-querycount==0.6.0
freezegun==0.3.8
funcy==1.7.3
olefile==0.44
packaging==16.8
pilkit==2.0
Pillow==4.1.0
psycopg2==2.7.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
raven==6.0.0
rcssmin==1.0.6
redis==2.10.5
rjsmin==1.0.12
six==1.10.0
sqlparse==0.2.3
uWSGI==2.0.15
