{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        {% if messages %}
              <div class="alert alert-warning" role="alert">
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
              </div>
        {% endif %}
        <div class="col-sm-10 col-sm-offest-1">
            <div class="grid">
                {% for recipe in recipes %}
                <div class="grid-item">
                    <div class="card-container manual-flip">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <a href="/recipes/{{recipe.recipe.id}}/" ><img src="{{ recipe.recipe.image_list.url }}"/></a>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <a href="/recipes/{{recipe.recipe.id}}/" ><h3 class="name">{{ recipe.recipe.name }}</h3></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}