{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            <img src="{{ recipe.image_thumbnail.url }}"/>
            <h2>{{ recipe.name }}</h2>
        </div>
    </div>
</div>
<div class="col-md-2">
        {% if recipe.preparation_time %}
        Preparation Time: {{ recipe.preparation_time }}
        Cooking Time: {{ recipe.cooking_time }}
        {% endif %}
        Cuisine Type:<p> {{ recipe.get_cuisine_display }}</p>
        Meal Type: {{ recipe.get_meal_display }}
</div>
{% endblock %}