{% extends "base.html" %}
{% block content %}
<form method="post" action="{% url 'recipe_edit' pk=recipe.id %}" class="form-horizontal" id="form" enctype="multipart/form-data"> {% csrf_token %}
        {% if messages %}
              <div class="alert alert-warning" role="alert">
                <ul class="messages">
                    {% for message in messages %}
                        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
              </div>
        {% endif %}
        <div class="form-group" >
            <label class="control-label col-sm-2" >Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" value="{{recipe.name}}" name="name" required placeholder="Name of the recipe"/>
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label col-sm-2" >Recipe Image</label>
            <div class="col-sm-10">
                <input type="file" accept="image/*" name="image" />
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label col-sm-2">Preparation Time</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="preparation_time" value="{{ recipe.preparation_time|default_if_none:"" }}" placeholder="Optional preparation time" />
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label col-sm-2">Cooking Time</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="cooking_time" value="{{ recipe.cooking_time|default_if_none:"" }}" placeholder="Optional cooking time" />
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label col-sm-2">Video Url</label>
            <div class="col-sm-10">
                <input type="url" class="form-control" name="video" value="{{ recipe.video|default_if_none:"" }}" placeholder="Optional video URL" />
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label col-sm-2">Ingredient</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="ingredient" placeholder="List of Ingredient" >{{ recipe.ingredient|default_if_none:"" }}</textarea>
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label col-sm-2">Direction</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="direction" placeholder="Direction" >{{ recipe.direction|default_if_none:"" }}</textarea>
            </div>
        </div>
        <div class="form-group" >
            <label class="control-label col-sm-2">Tips</label>
            <div class="col-sm-10">
                <textarea class="form-control" name="tips" placeholder="Optional tips" >{{ recipe.tips|default_if_none:"" }}</textarea>
            </div>
        </div>
        <input type="hidden" name="meal" value="{{ recipe.meal }}">
        <input type="hidden" name="cuisine" value="{{ recipe.cuisine }}">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default"><i class="fa fa-pencil-square-o" ></i> Update Recipe</button>
            </div>
        </div>
</form>
{% endblock %}