{% extends "base.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offest-1">
            <div class="grid">
                {% for recipe in recipes %}
                <div class="grid-item">
                    <div class="card-container manual-flip">
                        <div class="card">
                            <div class="front">
                                <div class="cover">
                                    <a href="/recipes/{{recipe.id}}/" ><img src="{{ recipe.image_thumbnail.url }}"/></a>
                                </div>
                                <div class="content">
                                    <div class="main">
                                        <a href="/recipes/{{recipe.id}}/" ><h3 class="name">{{ recipe.name }}</h3></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <ul class="pagination">
            {% if recipes.has_previous %}
            <li><a href="?page={{ recipes.previous_page_number }}">previous</a></li>
            {% endif %}

        <span class="current">

        </span>

            {% if recipes.has_next %}
            <li><a href="?page={{ recipes.next_page_number }}">next</a></li>
            {% endif %}
            <br>
            Page {{ recipes.number }} of {{ recipes.paginator.num_pages }}.
        </ul>

</div>

{% endblock %}